.list-inline {
  background-color: #443f3b;
  border-radius: 10px;
  width: 6rem;
  margin: 0.6rem;
}

.inline_container {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
